<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Lawyers</title>
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" />
</head>
<body>
<main layout:fragment="content" class="container mt-4">
    <h1 class="mb-4">Lawyers</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>
                <a th:href="@{'/lawyers?page=0&sortField=lawyerId&sortOrder=' + ${sortUtil.nextOrder(sortField, sortOrder, 'lawyerId')}}"
                   class="text-decoration-none">
                    ID <span th:text="${sortUtil.sortArrow(sortField, sortOrder, 'lawyerId')}"></span>
                </a>
            </th>
            <th>
                <a th:href="@{'/lawyers?page=0&sortField=firstName&sortOrder=' + ${sortUtil.nextOrder(sortField, sortOrder, 'firstName')}}"
                   class="text-decoration-none">
                    Name <span th:text="${sortUtil.sortArrow(sortField, sortOrder, 'firstName')}"></span>
                </a>
            </th>
            <th>
                <a th:href="@{'/lawyers?page=0&sortField=lawyerType&sortOrder=' + ${sortUtil.nextOrder(sortField, sortOrder, 'lawyerType')}}"
                   class="text-decoration-none">
                    Type <span th:text="${sortUtil.sortArrow(sortField, sortOrder, 'lawyerType')}"></span>
                </a>
            </th>
            <th>
                <a th:href="@{'/lawyers?page=0&sortField=hourlyRate&sortOrder=' + ${sortUtil.nextOrder(sortField, sortOrder, 'hourlyRate')}}"
                   class="text-decoration-none">
                    Hourly Rate <span th:text="${sortUtil.sortArrow(sortField, sortOrder, 'hourlyRate')}"></span>
                </a>
            </th>
            <th>
                <a th:href="@{'/lawyers?page=0&sortField=commission&sortOrder=' + ${sortUtil.nextOrder(sortField, sortOrder, 'commission')}}"
                   class="text-decoration-none">
                    Commission <span th:text="${sortUtil.sortArrow(sortField, sortOrder, 'commission')}"></span>
                </a>
            </th>
            <th>Lawsuits</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="lawyer : ${lawyers.content}">
            <td th:text="${lawyer.lawyerId}"></td>
            <td th:text="${lawyer.firstName + ' ' + lawyer.lastName}"></td>
            <td th:text="${lawyer.lawyerType}"></td>
            <td th:text="${lawyer.hourlyRate}"></td>
            <td th:text="${lawyer.commission}"></td>
            <td th:text="${#lists.size(lawyer.lawyerLawsuits)}"></td>
            <td>
                <a th:href="@{'/lawyers/' + ${lawyer.lawyerId}}" class="btn btn-primary btn-sm">View</a>
                <a sec:authorize="hasRole('ADMIN') or @environment.acceptsProfiles('h2')" th:href="@{'/lawyers/edit/' + ${lawyer.lawyerId}}" class="btn btn-warning btn-sm">Edit</a>
                <form sec:authorize="hasRole('ADMIN') or @environment.acceptsProfiles('h2')" th:action="@{'/lawyers/delete/' + ${lawyer.lawyerId}}" method="post">
                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-between align-items-center">
        <div>
            <span th:text="'Page ' + (${lawyers.number} + 1) + ' of ' + ${lawyers.totalPages}"></span>
        </div>
        <div>
            <span th:if="${lawyers.hasPrevious()}">
                <a th:href="@{'/lawyers?page=' + (${lawyers.number} - 1) + '&sortField=' + ${sortField} + '&sortOrder=' + ${sortOrder}}" class="btn btn-secondary btn-sm">Previous</a>
            </span>
            <span th:if="${lawyers.hasNext()}">
                <a th:href="@{'/lawyers?page=' + (${lawyers.number} + 1) + '&sortField=' + ${sortField} + '&sortOrder=' + ${sortOrder}}" class="btn btn-secondary btn-sm">Next</a>
            </span>
        </div>
    </div>

    <a sec:authorize="hasRole('ADMIN') or @environment.acceptsProfiles('h2')" th:href="@{'/lawyers/create'}" class="btn btn-success mt-4">Add New Lawyer</a>
</main>
</body>
</html>
