<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Clients</title>
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" />
</head>
<body>
<main layout:fragment="content" class="container mt-4">
    <h1 class="mb-4">Clients</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>
                <a th:href="@{'/clients?page=0&sortField=clientId&sortOrder=' + ${sortUtil.nextOrder(sortField, sortOrder, 'clientId')}}"
                   class="text-decoration-none">
                    ID <span th:text="${sortUtil.sortArrow(sortField, sortOrder, 'clientId')}"></span>
                </a>
            </th>
            <th>
                <a th:href="@{'/clients?page=0&sortField=firstName&sortOrder=' + ${sortUtil.nextOrder(sortField, sortOrder, 'firstName')}}"
                   class="text-decoration-none">
                    Name <span th:text="${sortUtil.sortArrow(sortField, sortOrder, 'firstName')}"></span>
                </a>
            </th>
            <th>
                <a th:href="@{'/clients?page=0&sortField=clientAddress&sortOrder=' + ${sortUtil.nextOrder(sortField, sortOrder, 'clientAddress')}}"
                   class="text-decoration-none">
                    Address <span th:text="${sortUtil.sortArrow(sortField, sortOrder, 'clientAddress')}"></span>
                </a>
            </th>
            <th>Invoices</th>
            <th>Lawsuits</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="client : ${clients.content}">
            <td th:text="${client.clientId}"></td>
            <td th:text="${client.firstName + ' ' + client.lastName}"></td>
            <td th:text="${client.clientAddress}"></td>
            <td th:text="${#lists.size(client.invoices)}"></td>
            <td th:text="${#lists.size(client.lawsuits)}"></td>
            <td>
                <a th:href="@{'/clients/' + ${client.clientId}}" class="btn btn-primary btn-sm">View</a>
                <a sec:authorize="hasRole('ADMIN') or @environment.acceptsProfiles('h2')" th:href="@{'/clients/edit/' + ${client.clientId}}" class="btn btn-warning btn-sm">Edit</a>
                <form sec:authorize="hasRole('ADMIN') or @environment.acceptsProfiles('h2')" th:action="@{'/clients/delete/' + ${client.clientId}}" method="post">
                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-between align-items-center">
        <div>
            <span th:text="'Page ' + (${clients.number} + 1) + ' of ' + ${clients.totalPages}"></span>
        </div>
        <div>
            <span th:if="${clients.hasPrevious()}">
                <a th:href="@{'/clients?page=' + (${clients.number} - 1) + '&sortField=' + ${sortField} + '&sortOrder=' + ${sortOrder}}" class="btn btn-secondary btn-sm">Previous</a>
            </span>
            <span th:if="${clients.hasNext()}">
                <a th:href="@{'/clients?page=' + (${clients.number} + 1) + '&sortField=' + ${sortField} + '&sortOrder=' + ${sortOrder}}" class="btn btn-secondary btn-sm">Next</a>
            </span>
        </div>
    </div>

    <a sec:authorize="hasRole('ADMIN') or @environment.acceptsProfiles('h2')" th:href="@{'/clients/create'}" class="btn btn-success mt-4">Add New Client</a>
</main>
</body>
</html>
