<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Lawyer-Lawsuit Assignments</title>
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" />
</head>
<body>
<main layout:fragment="content" class="container mt-4">
    <h1 class="mb-4">Lawyer-Lawsuit Assignments</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>
                <a th:href="@{'/lawyer-lawsuits?page=0&sortField=id&sortOrder=' + ${sortUtil.nextOrder(sortField, sortOrder, 'id')}}" class="text-decoration-none">
                    ID <span th:text="${sortUtil.sortArrow(sortField, sortOrder, 'id')}"></span>
                </a>
            </th>
            <th>
                <a th:href="@{'/lawyer-lawsuits?page=0&sortField=lawyer.firstName&sortOrder=' + ${sortUtil.nextOrder(sortField, sortOrder, 'lawyer.firstName')}}" class="text-decoration-none">
                    Lawyer <span th:text="${sortUtil.sortArrow(sortField, sortOrder, 'lawyer.firstName')}"></span>
                </a>
            </th>
            <th>
                <a th:href="@{'/lawyer-lawsuits?page=0&sortField=lawsuit.reason&sortOrder=' + ${sortUtil.nextOrder(sortField, sortOrder, 'lawsuit.reason')}}" class="text-decoration-none">
                    Lawsuit <span th:text="${sortUtil.sortArrow(sortField, sortOrder, 'lawsuit.reason')}"></span>
                </a>
            </th>
            <th>
                <a th:href="@{'/lawyer-lawsuits?page=0&sortField=hoursWorked&sortOrder=' + ${sortUtil.nextOrder(sortField, sortOrder, 'hoursWorked')}}" class="text-decoration-none">
                    Hours Worked <span th:text="${sortUtil.sortArrow(sortField, sortOrder, 'hoursWorked')}"></span>
                </a>
            </th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="lawyerLawsuit : ${lawyerLawsuits.content}">
            <td th:text="${lawyerLawsuit.id}"></td>
            <td th:text="${lawyerLawsuit.lawyer.firstName + ' ' + lawyerLawsuit.lawyer.lastName}"></td>
            <td th:text="${lawyerLawsuit.lawsuit.reason}"></td>
            <td th:text="${lawyerLawsuit.hoursWorked}"></td>
            <td>
                <a th:href="@{'/lawyer-lawsuits/' + ${lawyerLawsuit.id}}" class="btn btn-primary btn-sm">View</a>
                <a sec:authorize="hasRole('ADMIN') or @environment.acceptsProfiles('h2')" th:href="@{'/lawyer-lawsuits/edit/' + ${lawyerLawsuit.id}}" class="btn btn-warning btn-sm">Edit</a>
                <form sec:authorize="hasRole('ADMIN') or @environment.acceptsProfiles('h2')" th:action="@{'/lawyer-lawsuits/delete/' + ${lawyerLawsuit.id}}" method="post">
                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-between align-items-center">
        <div>
            <span th:text="'Page ' + (${lawyerLawsuits.number} + 1) + ' of ' + ${lawyerLawsuits.totalPages}"></span>
        </div>
        <div>
            <span th:if="${lawyerLawsuits.hasPrevious()}">
                <a th:href="@{'/lawyer-lawsuits?page=' + (${lawyerLawsuits.number} - 1) + '&sortField=' + ${sortField} + '&sortOrder=' + ${sortOrder}}" class="btn btn-secondary btn-sm">Previous</a>
            </span>
            <span th:if="${lawyerLawsuits.hasNext()}">
                <a th:href="@{'/lawyer-lawsuits?page=' + (${lawyerLawsuits.number} + 1) + '&sortField=' + ${sortField} + '&sortOrder=' + ${sortOrder}}" class="btn btn-secondary btn-sm">Next</a>
            </span>
        </div>
    </div>

    <a sec:authorize="hasRole('ADMIN') or @environment.acceptsProfiles('h2')" th:href="@{'/lawyer-lawsuits/create'}" class="btn btn-success mt-4">Add Lawyer-Lawsuit</a>
</main>
</body>
</html>
