<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{main.html}">
<head>
    <meta charset="UTF-8">
    <title>Hearings</title>
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" />
</head>
<body>
<main layout:fragment="content" class="container mt-4">
    <h1 class="mb-4">Hearings</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Date & Time</th>
            <th>Address</th>
            <th>Lawsuit ID</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="hearing : ${hearings}">
            <td th:text="${hearing.hearingId}"></td>
            <td th:text="${#dates.format(hearing.dateTime, 'yyyy-MM-dd HH:mm')}"></td>
            <td th:text="${hearing.appointmentAddress}"></td>
            <td th:text="${hearing.lawsuit.lawsuitId}"><td>
                <a th:href="@{'/hearings/' + ${hearing.hearingId}}" class="btn btn-primary btn-sm">View</a>
                <a th:href="@{'/hearings/edit/' + ${hearing.hearingId}}" class="btn btn-warning btn-sm">Edit</a>
                <a th:href="@{'/hearings/delete/' + ${hearing.hearingId}}" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{'/hearings/create'}" class="btn btn-success">Add New Hearing</a>
</main>
</body>
</html>
