<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Lawsuit Details</title>
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" />
</head>
<body>
<main layout:fragment="content" class="container mt-4">
    <h1 class="mb-4">Lawsuit Details</h1>

    <h3 class="mb-3">Lawsuit Information</h3>
    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <td th:text="${lawsuit.lawsuitId}"></td>
        </tr>
        <tr>
            <th>Client</th>
            <td>
                <span th:text="${lawsuit.client.firstName + ' ' + lawsuit.client.lastName}"></span>
                <a th:href="@{'/clients/' + ${lawsuit.client.clientId}}" class="btn btn-info btn-sm ml-2">View Client</a>
            </td>
        </tr>
        <tr>
            <th>Reason</th>
            <td th:text="${lawsuit.reason}"></td>
        </tr>
        <tr>
            <th>Opposing Party</th>
            <td th:text="${lawsuit.opposingParty}"></td>
        </tr>
        <tr>
            <th>Hearing Date</th>
            <td th:if="${lawsuit.hearing != null}">
                <span th:text="${#dates.format(lawsuit.hearing.dateTime, 'yyyy-MM-dd HH:mm')}"></span>
                <a th:href="@{'/hearings/' + ${lawsuit.hearing.hearingId}}" class="btn btn-info btn-sm ml-2">View Hearing</a>
            </td>
            <td th:if="${lawsuit.hearing == null}">No Hearing</td>
        </tr>
    </table>

    <h3 class="mb-3">Assigned Lawyers</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Lawyer ID</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="lawyerLawsuit : ${lawsuit.lawyerLawsuits}">
            <td th:text="${lawyerLawsuit.lawyer.lawyerId}"></td>
            <td th:text="${lawyerLawsuit.lawyer.firstName + ' ' + lawyerLawsuit.lawyer.lastName}"></td>
            <td>
                <a th:href="@{'/lawyers/' + ${lawyerLawsuit.lawyer.lawyerId}}" class="btn btn-info btn-sm">View</a>
            </td>
        </tr>
        </tbody>
    </table>

    <a sec:authorize="hasRole('ADMIN') or @environment.acceptsProfiles('h2')" th:href="@{'/lawsuits/edit/' + ${lawsuit.lawsuitId}}" class="btn btn-warning mt-3">Edit Lawsuit</a>
</main>
</body>
</html>
