<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Lawsuits</title>
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" />
</head>
<body>
<main layout:fragment="content" class="container mt-4">
    <h1 class="mb-4">Lawsuits</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>
                <a th:href="@{'/lawsuits?page=0&sortField=lawsuitId&sortOrder=' + ${sortUtil.nextOrder(sortField, sortOrder, 'lawsuitId')}}"
                   class="text-decoration-none">
                    ID <span th:text="${sortUtil.sortArrow(sortField, sortOrder, 'lawsuitId')}"></span>
                </a>
            </th>
            <th>
                <a th:href="@{'/lawsuits?page=0&sortField=client.firstName&sortOrder=' + ${sortUtil.nextOrder(sortField, sortOrder, 'client.firstName')}}"
                   class="text-decoration-none">
                    Client <span th:text="${sortUtil.sortArrow(sortField, sortOrder, 'client.firstName')}"></span>
                </a>
            </th>
            <th>
                <a th:href="@{'/lawsuits?page=0&sortField=reason&sortOrder=' + ${sortUtil.nextOrder(sortField, sortOrder, 'reason')}}"
                   class="text-decoration-none">
                    Reason <span th:text="${sortUtil.sortArrow(sortField, sortOrder, 'reason')}"></span>
                </a>
            </th>
            <th>
                <a th:href="@{'/lawsuits?page=0&sortField=opposingParty&sortOrder=' + ${sortUtil.nextOrder(sortField, sortOrder, 'opposingParty')}}"
                   class="text-decoration-none">
                    Opposing Party <span th:text="${sortUtil.sortArrow(sortField, sortOrder, 'opposingParty')}"></span>
                </a>
            </th>
            <th>
                <a th:href="@{'/lawsuits?page=0&sortField=hearing.dateTime&sortOrder=' + ${sortUtil.nextOrder(sortField, sortOrder, 'hearing.dateTime')}}"
                   class="text-decoration-none">
                    Hearing <span th:text="${sortUtil.sortArrow(sortField, sortOrder, 'hearing.dateTime')}"></span>
                </a>
            </th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="lawsuit : ${lawsuits.content}">
            <td th:text="${lawsuit.lawsuitId}"></td>
            <td th:text="${lawsuit.client.firstName + ' ' + lawsuit.client.lastName}"></td>
            <td th:text="${lawsuit.reason}"></td>
            <td th:text="${lawsuit.opposingParty}"></td>
            <td th:if="${lawsuit.hearing != null}" th:text="${#dates.format(lawsuit.hearing.dateTime, 'yyyy-MM-dd HH:mm')}"></td>
            <td th:if="${lawsuit.hearing == null}">No Hearing</td>
            <td>
                <a th:href="@{'/lawsuits/' + ${lawsuit.lawsuitId}}" class="btn btn-primary btn-sm">View</a>
                <a sec:authorize="hasRole('ADMIN') or @environment.acceptsProfiles('h2')" th:href="@{'/lawsuits/edit/' + ${lawsuit.lawsuitId}}" class="btn btn-warning btn-sm">Edit</a>
                <form sec:authorize="hasRole('ADMIN') or @environment.acceptsProfiles('h2')" th:action="@{'/lawsuits/delete/' + ${lawsuit.lawsuitId}}" method="post">
                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-between align-items-center">
        <div>
            <span th:text="'Page ' + (${lawsuits.number} + 1) + ' of ' + ${lawsuits.totalPages}"></span>
        </div>
        <div>
            <span th:if="${lawsuits.hasPrevious()}">
                <a th:href="@{'/lawsuits?page=' + (${lawsuits.number} - 1) + '&sortField=' + ${sortField} + '&sortOrder=' + ${sortOrder}}" class="btn btn-secondary btn-sm">Previous</a>
            </span>
            <span th:if="${lawsuits.hasNext()}">
                <a th:href="@{'/lawsuits?page=' + (${lawsuits.number} + 1) + '&sortField=' + ${sortField} + '&sortOrder=' + ${sortOrder}}" class="btn btn-secondary btn-sm">Next</a>
            </span>
        </div>
    </div>

    <a sec:authorize="hasRole('ADMIN') or @environment.acceptsProfiles('h2')" th:href="@{'/lawsuits/create'}" class="btn btn-success mt-4">Add New Lawsuit</a>
</main>
</body>
</html>
